body {
    background-color: rgb(71, 135, 171);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

}
button {
    background-color: rgb(237, 240, 241);
    color: rgb(15, 4, 135);
    border-style: double;
    border-color: rgb(53, 77, 110);
    height: 2em;
    width: 20em;
    font: bold15px arial, sans-serif;
    text-shadow: none;
}